:root {
  --background-color: #faf9ed;
  --header-color: #d2c3b6;
  --header-text-color: white;
  --text-color: rgb(146, 109, 109);
  --hover-color: #1b1b32;
  --border-color: rgba(99, 91, 91, 0.33);
  --border-color2: rgba(146, 109, 109, 0.3);
}

@font-face {
  font-family: king;
  src: url("fonts/King.woff2");
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: king;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  padding: 6rem 0 9rem;
}

main {
  margin: auto;
  max-width: 85%;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

video {
  border-radius: 5px;
  border: 3px solid var(--text-color);
  object-fit: cover;
}

ul > li {
  margin-bottom: 10px;
}

.border {
  border: 2px solid var(--border-color);
  border-radius: 20px;
}

.landing {
  background: #fff;
  width: 100%;
  height: 70%;
  margin-bottom: 3rem;
  padding: 3rem;
}

/* Header and Navber */
header {
  width: 100%;
  height: 4.5rem;
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  padding: 0 20px;
}

header h1 {
  margin: 0 1rem;
  padding: 0 3rem;
  color: var(--header-text-color);
}

header a {
  display: block;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  color: var(--background-color);
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: var(--header-text-color);
  margin: 0 0.2rem;
  padding: 0.3rem 0.4rem;
  display: block;
  font-size: 20px;
}

nav > ul > li:hover {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: #fff;
  color: var(--hover-color);
  cursor: pointer;
}

/* Footer */

footer {
  padding: 20px;
  text-align: center;
  background-color: var(--header-color);
  color: var(--background-color);
  position: absolute;
  bottom: 0;
  display: block;
  width: 100vw;
  border-top: 2px solid var(--border-color2);
}

footer h2 {
  color: var(--header-text-color);
}

/* Home Page */
#home-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
}

#home-intro {
  padding: 5rem;
}

#home-intro h1 {
  font-size: 3rem;
}

#home-intro p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

#home-photo {
  max-height: 80vh;
  margin: 0 3rem;
}

/* About Me */

.about-me-paragraphs {
  line-height: 2rem;
  padding: 1rem;
}

.about-me-paragraphs p {
  padding: 1rem;
}

.about-me-photo {
  max-width: 30%;
  margin-bottom: 1.2rem;
}

.about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-info {
  display: block;
  background: transparent;
}

.about-me-info h1 {
  font-size: 2.4rem;
}

.about-me-info p {
  font-size: 1.2rem;
}

.about-me-small-info {
  text-align: center;
}

/* Resume */

.resume-item {
  border-bottom: 3px solid var(--text-color);
  margin-top: 40px;
}

.resume h2 {
  text-decoration: underline;
}

.resume ul {
  padding: 0px 0px 30px 0px;
}

.resume-item:last-of-type {
  border: none;
}

.resume li {
  padding: 0.5rem 2rem;
  list-style: none;
  font-weight: thin;
}

/* Projects */
#projects-info .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#projects-info h1 {
  margin-bottom: 1rem;
}

#projects-info h2 {
  font-size: 1rem;
  text-decoration: underline;
}
